/**
 * 	Stand: 21.04.2014, 12:54 Uhr
 * 	CSS lint found 0 errors and 0 warnings.
 */


.bar {	
	position: fixed;
	width: 100%;
	z-index: 2;
}

.topBar {
	height: 30px;
	top:0;
}

.bottomBar {	
	height:50px;
	bottom: 0;
}


.view {
	z-index: 1;
	overflow:hidden;
	position: absolute;
	top:30px;
	bottom:50px;
}


.bottomOriented {
	bottom:0;
	position: absolute;
}
.view > .titleBar {
	background-color: pink;
	height: 42.5px;
	width: 100%;
	position: fixed;
	
}

.view > .verticalSwiper {
	height: 340px;
	top:85px;
	position: relative;
	white-space: nowrap;
}

.view > .verticalSwiper > div {
	display: inline-block;
	vertical-align: top;
	
}

