

#toolBar, #navigationBar {	
	position: fixed;
	z-index: 2;
}

#toolBar, #navigationBar{
	width: 100%;
}




#toolBar {
	height: 30px;
	top:0;
}




#mainView {
	z-index: 1;
	overflow:hidden;
	background-color: pink;
	position: absolute;
	top:30px;
	bottom:50px;
}


#mainViewTitle {
	height: 42.5px;
	background-color: yellow;
	position: fixed;
}

#mainViewTitle > * {
	bottom:0px;
	position: absolute;
}
#mainViewContent {
	background-color: green;
	height: 340px;
	top:57.5px;
	position: relative;
}


.verticalSwiper {
	white-space: nowrap;
}

.verticalSwiper > * {
	display: inline-block;
	vertical-align: top;
	
}

.component {
	width: 360px;
	height: 120px;
	margin: 15px;
	background-color: blue;
}


#navigationBar {
	height:50px;
	bottom: 0;
}
