.bar {
	text-transform: uppercase;
	color: rgb(128,128,128);
	background-image: linear-gradient(#333333 0%, #000000 100%);
	width: 100%;
	position: fixed;
	padding-left: 10px;
	z-index: 2;
}

.topBar {
	font-family: "AvenirBlack";
	font-size: 13.5px;
	height: 30px;
	top: 0;
}

.navBtn {
	display: inline-block;
	margin-top: 8.25px;
	padding-left: 20px;
	background-image: url('img/Back01.png');
	background-position: left;
	background-repeat: no-repeat;
	background-size: contain;
}

.bottomBar {
	font-family: "AvenirRoman";
	font-size: 20px;
	height: 50px;
	bottom: 0;
}

.bottomBar > nav {
	margin-top: 15px;
}

.bottomBar > nav > a {
	height: 20px;
	padding-right: 10px;
	margin-right: 7px;
	border-right: 3px solid;
}

.bottomBar > nav > a:active {
	font-family: "AvenirBlack";
	color: white;
	border-color: rgb(128,128,128);
}

.bottomOriented {
	bottom: 0;
	position: absolute;
}

.mainView {
	z-index: 1;
	position: absolute;
	top: 30px;
	bottom: 50px;
}

.view {
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	
	transition: opacity 1s ease-in;
}

.uebersichtView {
	background-color: #333333;
	overflow-x: scroll;
}

.uebersichtView > .titleBar {
	font-family: "AvenirMedium";
	font-size: 30px;
	text-transform: uppercase;
	color: rgb(204,204,204);
	height: 42.5px;
	padding: 20px 0 0 20px;
	width: 100%;
	position: fixed;
	border:none;
}

.uebersichtView > .horizontalSwipwer {
	height: 340px;
	top: 85px;
	position: relative;
	white-space: nowrap;
}

.uebersichtView > .horizontalSwipwer > div {
	display: inline-block;
	vertical-align: top;
}

.uebersichtView > .horizontalSwipwer > div > div {
	display: block;
}

.detailView {
	width:100%;
	position: absolute;
	overflow-y: scroll;
}

.detailView > article {
	margin: 0px 10px 0 10px;
	}

.detailView .titleBar {
	font-family: "AvenirBlack";
	font-size: 20px;
	color: rgb(63,169,245);
	border-bottom: 2px dotted;
	padding-bottom: 15px;
	padding-top: 10px;
	margin-bottom: 15px;
	text-transform: uppercase;
}

.detailView .content {
	font-family: "MarionRegular";
	font-size: 15px;
	color:#000000;
}

