/* Einbinden der notwendigen Fonts */
@font-face {
	font-family: "Avenir Medium";
	src: url('font/Avenir-Medium.ttf');
}

@font-face {
	font-family: "Avenir Black";
	src: url('font/Avenir-Black.ttf');
}
@font-face {
	font-family: "Avenir Roman";
	src: url('font/Avenir-Roman.ttf');
}

html, body, article, section, h1, h2, h3, div, ul, p, figure {
	margin: 0;
	padding: 0;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	font-weight: normal;
	font-size: inherit;
}

ul > li {
	list-style-type: none;
}

body {

}

a {
	color: inherit;
	text-decoration: none;
}

#naviBack, #navigationBar {
	font-family: "Avenir Black";
	text-transform: uppercase;
	color: rgb(128,128,128);
	background-image: linear-gradient(#333333 0%, #000000 100%);
	width: 100%;
	position: fixed;
	padding-left: 10px;
	z-index: 2;
}

#naviBack {
	top: 0;
	height: 30px;
	font-size: 13.5px;
	font-weight: lighter;
}

#btnBack {
	margin-top: 5px;
	padding-left: 20px;
	background-image: url('img/Back01.png');
	background-position: left;
	background-repeat: no-repeat;
	background-size: contain;
}

#navigationBar {
	bottom: 0;
	height: 50px;
	font-size: 18px;
}

#navigationBar ul {
	margin-top: 10px;
}

#navigationBar li {
	float: left;
	padding: 0 10px 0 10px;
	border-right: #999999 solid 2px;
}
#navigationBar li:active {
	color: white;
}

#navigationBar li:last-child {
	border-right: none;
}

#navigationBar li:first-child {
	padding-left: 0;
}
.archivLink {
	font-family: "Avenir Roman";
}

#viewport {

	background-color: #333333;
	position: absolute;
	z-index: 1;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

#viewport > .topBar {
	border-bottom: none;
	height: 22.5px;
	max-height: 22.5px;
	position: relative;
	margin: 50px 0 0 20px;
	padding: 0;
}
#viewport > .topBar > h1 {
	position: absolute;
	font-size: 30px;
	color: rgb(204,204,204);
	line-height: 75%;
}

ul#verticalScrollView {
	top: 42.5px;
	max-height: 340px;
	height: 340px;
	position: relative;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	vertical-align: top
}

ul#verticalScrollView > li {
	display: inline-block;
	vertical-align: top;
	min-width:180px;
	padding:10px;
}


#stBilder, #stZeitdokumte, #stKommentar {
	margin:15px;
}

#stZeitdokumte {
	width: 180px;
	max-height: 290px;
	padding: 10px;
	margin: 15px;
	color: rgb(242,242,242);
}

#stBilder {
	
	display:inline-block;
	max-width:450px;
	width:auto;
	height:80px;
	padding:10px;
}

#stBilder > figure {
	height:100%;
	float:left;
}

#stBilder > figure > img {
	margin-right: 10px;
	float:left;
}


#stKommentar {
	margin:15px;
	width:270px;
	padding:15px 15px 10px 15px;
	white-space: normal;
	
}
#stKommentar > article {
	height:130px;
	margin-bottom: 15px;
}

#stKommentar > article > h2 {
	font-size:20px;
	line-height: 20px;
	margin-bottom:20px;
}
#stKommentar > article > p, #stKommentar > .postIcon {
	font-size: 15px;
}

#stKommentar > .postIcon {
	width:100%;
	border-bottom:1px dashed:5px;
	
}
.bgBlue {
	background-color: rgb(63,169,245);
	color:#FFFFFF;
}

div.clsIcon{
	float:right;
	margin-left:10px;
	width: 30px;
	height:30px;
	
	background-image: url('img/Kreuz01.png');
	background-repeat: no-repeat;
	background-size: cover;
}

#stBilder, #stMehrDazuMedienVerweis {
	margin-bottom: 30px;
}
#stKommentar, #stTextauszug, #stKommentarMedienVerweis {
	margin-right: 30px;
}
.topBar {
	font-family: "Avenir Medium";
	font-size: 20px;
	line-height:15px;
	padding-bottom: 10px;
	border-bottom: 1px dashed rgb(242,242,242);
	margin-bottom: 15px;
}
figure {
	overflow: auto;
	white-space: normal;
}
#stZeitdokumte > figure > img {
	margin-bottom: 10px;
}

figcaption {
	font-family: "Avenir Roman";
	font-size: 15px;
	line-height:15px;
	padding-bottom: 15px;
	background-image: url('img/Strich01.png');
	background-position: bottom;
	background-repeat: no-repeat;
	background-size:contain;
}
.stMedienverweis {
	padding: 20px 20px 40px 20px;
	width: 180px;
}

.topBar {
	text-transform: uppercase;
}

.bgDark {
	background-color: rgb(45,45,45);
}

.bgDark > .content {
	color: rgb(242,242,242);
}

.postIcon {
	float: right;
	background-image: url('img/Pfeil02.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	height: inherit;
	width: 50px;
}

a.topBar {
	float: left;
}
